<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<!-- Oracle DB Connection string -->
		<add name="EPMS" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=EPMS;Password=epms234;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=180.149.247.107)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=EPMS)));" />
		<add name="EPMSLogin" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=EPMS;Password=epms234;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=180.149.247.107)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=EPMS)));" />



	</connectionStrings>

	<appSettings>
		<!-- Add role validation message -->


		<add key="Error_SelectWorks" value="Please select works / non-works." />
		<add key="Error_SelectRoleType" value="Please select role type." />
		<add key="Error_SelectShop" value="Please select or enter shop." />
		<add key="Error_SelectFunction" value="Please select or enter function." />
		<add key="Error_SelectSection" value="Please select or enter section." />
		<add key="Error_RoleName" value="Please enter role name." />



		<!-- KPA Validation Messages -->
		<add key="Error_AddAtLeastOneKPA" value="Please add at least one KPA." />
		<add key="Error_EnterComment" value="Please enter a comment in the comment box." />
		<add key="Error_KPANameRequired" value="KPA name is required in all rows." />
		<add key="Error_SelectCategory" value="Please select a KPA category in all rows." />
		<add key="Error_SelectImportance" value="Please select importance in all rows." />
		<add key="Error_SelectDataSource" value="Please select a data source in all rows." />
		<add key="Error_EnterOtherSource" value="Please enter other source when Data Source = Other." />
		<add key="Error_Unexpected" value="An unexpected error occurred. Please try again." />
		<add key="Error_ValidationUnexpected" value="Validation failed due to an unexpected error." />

		<!-- ========== New Guardrail Configuration ========== -->

		<!-- New Guardrail Rules -->
		<add key="New_MinKpaLimit" value="5" />
		<add key="New_MaxKpaLimit" value="10" />
		<add key="New_MinSafetyKpa" value="1" />
		<add key="New_MaxSafetyKpa" value="2" />

		<!-- Importance Rules by Selected Count -->
		<add key="Importance_2_High" value="2" />
		<add key="Importance_3_High" value="2" />
		<add key="Importance_3_Med" value="1" />
		<add key="Importance_4_High" value="2" />
		<add key="Importance_4_Med" value="1" />
		<add key="Importance_4_Low" value="1" />
		<add key="Importance_5_High" value="2" />
		<add key="Importance_5_Med_Min" value="1" />
		<add key="Importance_5_Low_Min" value="1" />
		<add key="Importance_6_High" value="2" />
		<add key="Importance_6_Med_Min" value="1" />
		<add key="Importance_6_Low_Min" value="1" />
		<add key="Importance_7_High_Min" value="2" />
		<add key="Importance_7_Med_Min" value="2" />
		<add key="Importance_7_Low_Min" value="2" />
		<add key="Importance_8_High_Min" value="2" />
		<add key="Importance_8_Med_Min" value="2" />
		<add key="Importance_8_Low_Min" value="2" />
		<add key="Importance_9_High_Min" value="2" />
		<add key="Importance_9_Med_Min" value="2" />
		<add key="Importance_9_Low_Min" value="2" />
		<add key="Importance_10_High_Min" value="2" />
		<add key="Importance_10_Med_Min" value="2" />
		<add key="Importance_10_Low_Min" value="2" />


		<!-- KPA Limits -->
		<add key="MaxKPALimit" value="10" />

		<!-- Error Messages -->
		<add key="Error_MaxKPA" value="You cannot add more than 10 KPAs." />
		<add key="Error_Importance_1" value="For 1 KPAs, select High importance." />

		<add key="Error_Importance_2" value="For 2 KPAs, at least 2 must be of High importance." />
		<add key="Error_Importance_3" value="For 3 KPAs, at least 2 High and 1 Medium importance KPAs are required." />
		<add key="Error_Importance_4" value="For 4 KPAs, at least 2 High, 1 Medium, and 1 Low importance KPAs are required." />
		<add key="Error_Importance_5to6" value="For 5–6 KPAs, at least 2 High, 1 Medium, and 1 Low importance KPAs are required." />
		<add key="Error_Importance_7to10" value="For 7–10 KPAs, at least 2 High, 2 Medium, and 2 Low importance KPAs are required." />
		<add key="Error_ValidationUnexpected" value="An unexpected error occurred during validation. Please try again." />



		<add key="ErrorLogFolderPath" value="C:\KPACreation_EPMS_Errorlog" />





	</appSettings>
	<system.web>
		<customErrors mode="On" defaultRedirect="ErrorPage.aspx"/>

		<authentication mode="None" />
		<compilation debug="true" targetFramework="4.7.2">
			<assemblies>
				<add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.7.2" />
		<pages>
			<namespaces>
				<add namespace="System.Web.Optimization" />
				<add namespace="Microsoft.AspNet.Identity" />
			</namespaces>
			<controls>
				<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
			</controls>
		</pages>
		<membership>
			<providers>
				<!--
        ASP.NET Membership is disabled in this template. Please visit the following link https://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
				<clear />
			</providers>
		</membership>
		<profile>
			<providers>
				<!--
        ASP.NET Membership Profile is disabled in this template. Please visit the following link https://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
				<clear />
			</providers>
		</profile>
		<roleManager>
			<!--
          ASP.NET Membership Role is disabled in this template. Please visit the following link https://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
			<providers>
				<clear />
			</providers>
		</roleManager>
		<!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
		<sessionState mode="InProc" customProvider="DefaultSessionProvider">
			<providers>
				<add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
			</providers>
		</sessionState>
	</system.web>
	<system.webServer>
		<modules>
			<remove name="FormsAuthentication" />
		</modules>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>
